<div>Bye.</div>
<div *ngIf="condi as cd">
  Equivalent to ng-template {{cd}}
</div>
<ng-template [ngIf]="condi" #tpltRef>
  <div>
    Equivalent (short *ngIf wouldn't have effect on ng-template)
  </div>
  <div>
    can't use two structural directives on the same element
  </div>
</ng-template>
<ng-container *ngTemplateOutlet="tpltRef">
</ng-container>
<div *ngIf="condi; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  Div not rendered
</ng-template>
<ng-template #elseBlock>
  Div also not rendered
</ng-template>
